div {
    background-color: aliceblue;
    padding: 15px 30px;
}
h1 {
    color: #051f3b;
}
button {
    font-family: Courier New, monospace;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}
input {
    font-family: Courier New, monospace;
    font-size: 20px;
    width: 400px;
}
li {
    margin: 5px;
}
#text {
    margin: 20px;
}
#add {
    background-color: #051f3b;
    color: white;
    height: 27px;
}
#edit {
    background-color: #f1d99e;
}
#delete {
    background-color: #eea0a0;
}
#save {
    background-color: #98c098;
}
#cancel {
    background-color: #e0a996;
}
#input_text {
    margin-left: 20px;
    width: 250px;
}